
<h3> {{product.title}} </h3>

<div class="product-img-div">
    <img [src]="product.image" [alt]="product.title">
</div>

<div class="centred-text-div">
    <label> {{ product.description |slice:0:10 }}... </label>
</div>

<div class="centred-text-div samller-font-div">
    <strong> {{ product.price | currency: "Q" }}</strong>
</div>

<div class="centred-text-div">    
    <button (click)="addCart()"> Añadir al carrito </button>
    <a [routerLink]="['/products', product.id]"> Ver detalle </a>
</div>